<html>
<head>
	<title>Search your team</title>
</head>
<body style="margin: 0px;">
	<div style="width: 100%;">
		<div style="height: 50px;">
			<div style="height: 100%; width: 950px; margin-left: auto; margin-right: auto;">
				menu
			</div>
		</div>
		<div style="height: 100%;">
			<div style="width: 950px; height: 100%; margin-left: auto; margin-right: auto;">
				<div style="height: 100px; width: 100%;">
					banner # 1
				</div>
				<div>
					<div style="width: 70%; height: 100%; float: left;">
						<li><h2><a href="/create">Create team</a></h2></li>
						<li><h2><a href="/teamlist">Search team</a></h2></li>
						<li><h2><a href="/teamlist">Team list</a></h2></li>
					</div>
					<div style="width: 30%; height: 100%; float: left;">
						kek
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>