<html>
	<head>
		<title>
			Search your team
		</title>	
	</head>
	<body style="margin: 0px;">
		<div style="width: 100%; background-color: #1A181D;">
			<div style="height: 60px;">
				<div style="height: 100%; width: 950px; margin-left: auto; margin-right: auto; background-color: CE5D00;">
					nice menu
				</div>
			</div>
			<div style="height: 950px;">
				<div style="width: 950px; height: 950px; margin-left: auto; margin-right: auto;">
					<div style="width: 100%; height: 100px">
						adv banner # 1
					</div>
					<div style="width: 942px; height: 690px; float: left; background-color: #EAEAE2; padding: 2px; margin: 2px;">
						<div style="height: 14px; width: 100%; background-color: CE5D00;"></div>
						<li><h2><a href="/create">Create team</a></h2></li>
						<li><h2><a href="/teamlist">Search team</a></h2></li>
						<li><h2><a href="/teamlist">Team list</a></h2></li>
					</div>
					<div style="width: 100%; height: 100px; float: left;">
						more adv banner # 2
					</div>
					<div style="width: 100%; height: 60px; float: left; text-align: center;">
						Authors
					</div>
				</div>
			</div>
		</div>	
	</body>
</html>